XCOMM platform:	$OpenBSD: OpenBSDLib.tmpl,v 1.15 2004/07/13 21:32:50 marc Exp $
XCOMM platform: $XFree86: xc/config/cf/OpenBSDLib.tmpl,v 1.9 2004/01/10 09:09:51 herrb Exp $
XCOMM

/* Shared libraries dependencies */
#if HasGcc && GccMajorVersion >= 3
# define SharedGLUReqs	$(LDPRELIB) $(XLIB) $(GLXLIB) -lsupc++
#endif 

/* Shared Library Revisions. Crank major on API Changes */

#if OverrideShlibRevs

#if OSMajorVersion > 3 || ( OSMajorVersion == 3 && OSMinorVersion > 1)
# ifndef SharedX11Rev
#  define SharedX11Rev 8.0
# endif
# ifndef SharedXThrStubRev
#  define SharedXThrStubRev 8.0
# endif
# ifndef SharedXextRev
#  define SharedXextRev 8.0
# endif
# ifndef SharedXssRev
#  define SharedXssRev 3.0
# endif
# ifndef SharedXxf86miscRev
#  define SharedXxf86miscRev 3.0
# endif
# ifndef SharedXxf86vmRev
#  define SharedXxf86vmRev 3.0
# endif
# ifndef SharedXxf86dgaRev
#  define SharedXxf86dgaRev 3.0
# endif
# ifndef SharedXxf86rushRev
#  define SharedXxf86rushRev 3.0
# endif
# ifndef SharedXvRev
#  define SharedXvRev 3.0
# endif
# ifndef SharedXvMCRev
#  define SharedXvMCRev 3.0
# endif
# ifndef SharedXineramaRev
#  define SharedXineramaRev 3.0
# endif
# ifndef SharedDpsRev
#  define SharedDpsRev 3.0
# endif
# ifndef SharedDpsTkRev
#  define SharedDpsTkRev 3.0
# endif
# ifndef SharedPSResRev
#  define SharedPSResRev 3.0
# endif
# ifndef SharedGluRev
#  if HasGcc && GccMajorVersion >= 3
    /* Gcc 3 changes the name mangling scheme on OpenBSD */
#   define SharedGluRev	4.0
#  else
#   define SharedGluRev 3.0
#  endif
# endif
# ifndef SharedGlxRev
#  define SharedGlxRev 3.0
# endif
# ifndef SharedOSMesaRev
#  define SharedOSMesaRev 5.0
# endif
# ifndef SharedGLwRev
#  define SharedGLwRev 3.0
# endif
# ifndef SharedXrenderRev
#  define SharedXrenderRev 3.0
# endif
# ifndef SharedXrandrRev
#  define SharedXrandrRev 4.0
# endif
# ifndef SharedXcursorRev
#  define SharedXcursorRev 2.0
# endif
# ifndef SharedXfontcacheRev
#  define SharedXfontcacheRev 3.0
# endif
# ifndef SharedXauRev
#  define SharedXauRev 8.0
# endif
# ifndef SharedXdmcpRev
#  define SharedXdmcpRev 8.0
# endif
# ifndef SharedXmuRev
#  define SharedXmuRev 8.0
# endif
# ifndef SharedXmuuRev
#  define SharedXmuuRev 3.0
# endif
# ifndef SharedOldXRev
#  define SharedOldXRev 8.0
# endif
# ifndef SharedXpRev
#  define SharedXpRev 8.0
# endif
# ifndef SharedXtRev
#  define SharedXtRev 8.0
# endif
# ifndef SharedXaRev
#  define SharedXaRev 3.0
# endif
# ifndef SharedXawRev
#  define SharedXawRev 9.0
# endif
# ifndef SharedXaw6Rev
#  define SharedXaw6Rev 8.0
# endif
# ifndef SharedXiRev
#  define SharedXiRev 8.0
# endif
# ifndef SharedXtstRev
#  define SharedXtstRev 8.0
# endif
# ifndef SharedICERev
#  define SharedICERev 8.0
# endif
# ifndef SharedSMRev
#  define SharedSMRev 8.0
# endif
# ifndef SharedXkeyRev
#  define SharedXkeyRev 8.0
# endif
# ifndef SharedFSRev
#  define SharedFSRev 8.0
# endif
# ifndef SharedFontRev
#  define SharedFontRev 3.0
# endif
# ifndef SharedFontEncRev
#  define SharedFontEncRev 3.0
# endif
# ifndef SharedXpmRev
#  define SharedXpmRev 6.0
# endif
# ifndef SharedFreetype2Rev
#  define SharedFreetype2Rev 12.0
# endif
# ifndef SharedExpatRev
#  define SharedExpatRev 5.0
# endif
# ifndef SharedXft1Rev
#  define SharedXft1Rev 2.0
# endif
# ifndef SharedXftRev
#  define SharedXftRev 4.0
# endif
# ifndef SharedFontconfigRev
#  define SharedFontconfigRev 2.0
# endif
# ifndef SharedXTrapRev
#  define SharedXTrapRev 8.0
# endif
# ifndef SharedPSResRev
#  define SharedPSResRev 3.0
# endif
# ifndef SharedXResRev
#  define SharedXResRev 2.0
# endif
# ifndef SharedxkbfileRev
#  define SharedxkbfileRev 2.0
# endif
# ifndef SharedxkbuiRev
#  define SharedxkbuiRev 2.0
# endif
#endif /* OSMajorVersion .. */

#endif /* OverrideShlibRevs */

#include <bsdLib.tmpl>
