XCOMM platform:	$OpenBSD: OpenBSDLib.tmpl,v 1.1 2002/08/06 22:50:35 todd Exp $
XCOMM platform: $XFree86$
XCOMM
/* Shared Library Revisions. Crank major on API Changes, e.g. a.out -> elf */

#if OverrideShlibRevs

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibX11
#  ifndef SharedX11Rev
#   define SharedX11Rev 7.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibXThrStub
#  ifndef SharedXThrStubRev
#   define SharedXThrStubRev 7.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibXext
#  ifndef SharedXextRev
#   define SharedXextRev 7.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibXss
#  ifndef SharedXssRev
#   define SharedXssRev 2.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibXf86misc
#  ifndef SharedXf86miscRev
#   define SharedXf86miscRev 2.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibXxf86vm
#  ifndef SharedXxf86vmRev
#   define SharedXxf86vmRev 2.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibXxf86dga
#  ifndef SharedXxf86dgaRev
#   define SharedXxf86dgaRev 2.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibXxf86rush
#  ifndef SharedXxf86rushRev
#   define SharedXxf86rushRev 2.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibXv
#  ifndef SharedXvRev
#   define SharedXvRev 2.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibXvMC
#  ifndef SharedXvMCRev
#   define SharedXvMCRev 2.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibXinerama
#  ifndef SharedXineramaRev
#   define SharedXineramaRev 2.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibDps
#  ifndef SharedDpsRev
#   define SharedDpsRev 2.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibDpsTk
#  ifndef SharedDpsTkRev
#   define SharedDpsTkRev 2.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibPSRes
#  ifndef SharedPSResRev
#   define SharedPSResRev 2.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibGlu
#  ifndef SharedGluRev
#   define SharedGluRev 2.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibGlx
#  ifndef SharedGlxRev
#   define SharedGlxRev 2.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibGLw
#  ifndef SharedGLwRev
#   define SharedGLwRev 2.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibXrender
#  ifndef SharedXrenderRev
#   define SharedXrenderRev 2.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibXrandr
#  ifndef SharedXrandrRev
#   define SharedXrandrRev 2.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibXfontcache
#  ifndef SharedXfontcacheRev
#   define SharedXfontcacheRev 2.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibXau
#  ifndef SharedXauRev
#   define SharedXauRev 7.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibXdmcp
#  ifndef SharedXdmcpRev
#   define SharedXdmcpRev 7.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibXmu
#  ifndef SharedXmuRev
#   define SharedXmuRev 7.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibXmuu
#  ifndef SharedXmuuRev
#   define SharedXmuuRev 2.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibOldX
#  ifndef SharedOldXRev
#   define SharedOldXRev 7.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibXp
#  ifndef SharedXpRev
#   define SharedXpRev 7.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibXt
#  ifndef SharedXtRev
#   define SharedXtRev 7.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibXa
#  ifndef SharedXaRev
#   define SharedXaRev 2.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibXaw
#  ifndef SharedXawRev
#   define SharedXawRev 8.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibXaw6
#  ifndef SharedXaw6Rev
#   define SharedXaw6Rev 7.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibXi
#  ifndef SharedXiRev
#   define SharedXiRev 7.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibXtst
#  ifndef SharedXtstRev
#   define SharedXtstRev 7.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibPex
#  ifndef SharedPexRev
#   define SharedPexRev 7.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibXie
#  ifndef SharedXieRev
#   define SharedXieRev 7.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibPhigs
#  ifndef SharedPhigsRev
#   define SharedPhigsRev 7.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibICE
#  ifndef SharedICERev
#   define SharedICERev 7.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibSM
#  ifndef SharedSMRev
#   define SharedSMRev 7.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibXkey
#  ifndef SharedXkeyRev
#   define SharedXkeyRev 7.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibFS
#  ifndef SharedFSRev
#   define SharedFSRev 7.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibFont
#  ifndef SharedFontRev
#   define SharedFontRev 2.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibFontEnc
#  ifndef SharedFontEncRev
#   define SharedFontEncRev 2.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibXpm
#  ifndef SharedXpmRev
#   define SharedXpmRev 3.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibFreetype2
#  ifndef SharedFreetype2Rev
#   define SharedFreetype2Rev 7.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibFreetype2
#  ifndef SharedFreetype2Rev
#   define SharedFreetype2Rev 9.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibXft
#  ifndef SharedXftRev
#   define SharedXftRev 2.0
#  endif
# endif
#endif

#if OSMajorVersion > 3 || OSMajorVersion == 2 && OSMinorVersion > 1
# if SharedLibXTrap
#  ifndef SharedXTrapRev
#   define SharedXTrapRev 7.0
#  endif
# endif
#endif

#endif /* OverrideShlibRevs */

#include <bsdLib.tmpl>
